body{ background-color: #84B574

}
.h {
  color: red;
  font size: 1000px;
  font-weight: bolder;
}
#img1{
  height: 150px
}
#img2{
  height: 150px;
}
#img3{
  height: 150px;
}
#img4{
  height: 150px
}
#img5{
  height: 150px
}
#div1{
  border-style: double;
  background-color: #84B574;
}
.div5{
  background-color: #84B574
}
body {
  font: 1rem/1.5 var(--bs-font-sans-serif);
}
a {
  color: var(--bs-blue);
}
